/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: red;
  transition: background-color 0.5s;
}

/* Estilos del Header */
.header {
  display: flex;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.header__titulo {
  font-weight: bold;
  color: teal;
  font-size: 1rem;
  display: flex;
}

/* Alineación de botones a la derecha */
.header__titulo--simple{
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
display: flex;
}

.header__titulo--hex {
  text-decoration: none;
  color: black;
  font-weight: bold;
  justify-content:  center;
}

.header__boton a:hover {
  color: gray;
}

/* Sección de cambio de color */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.color-cambiar {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.color-cambiar__valor {
  color: teal;
}

/* Botón para cambiar el color */
.boton__clickme {
  margin-top: 2rem;
  padding: 1rem 6rem;
  border: 0.1rem solid;
  background: red;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.color-cambiar__boton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
