/* Variables parametros */
:root{
    --colorprimario: white;
    --colorsecundario: rgba(236,236,236, 0.8);
    --colorterciario: black;
    --altura-cabecero:5%;
    --altura-principal:100%;
    --mainHeight: 80%;
    --altura-piepagina: 20%;
    --fontFamily:"Montserrat", sans-serif;
}

/* modo normal :
anchura : 50%
altura: 120%

modo ampliado:
anchura: 100%
altura: 150% */

/* reseteo de etiquetas*/
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}



/* etiquetas basicas */
.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}


/*Etiquetas de tipo clase -- Metodolgi BEM*/
/*- Cabecero*/

/*principal*/

.principal{
    width: 50%;
    background-color: white;
    height: var(--altura-principal);
}

/* piepagina*/
.piepagina{
    width: 50%;
    height: var(--altura-pagina);
}


footer{
    display: flex;
    justify-content: space-between;
}
.cabecero__titulo{
    text-align: left;
}
.cabecero{

    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;   
    /* height: var(--altura-cabecero);  */
}

.cabecero__navegador{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cabecero__navegador__lista{
    display: flex;
    list-style: none;
    width: 70%;

}

.cabecero__navegador__boton__amp{
    height: 2rem;
    margin-left: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0rem 2.5rem 0rem 2.5rem;
}
.cabecero__navegador__boton__amp__oscurecer{
    background-color: #17202a;
    color: white;
    border-color: white;
    box-sizing: border-box;
}
.cabecero__navegador__boton__osc{
    height: 2rem;
    margin-left: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}
.cabecero__navegador__boton__osc__oscurecer{
    background-color: #17202a;
    color: white;
    border-color: white;
    box-sizing: border-box;
}

/* Aqui empieza el main */
.principal__seccion1{
    background-color: rgb(218, 218, 218);
    text-align: center;
    padding: 10rem;
}

.principal__seccion1__titulo{
    text-decoration: solid;
}
.principal__seccion1__texto{
    text-align: center;
    
}
.principal__seccion1__boton{
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    padding: 1.5rem 2.5rem 2rem 2.5rem;
    height: 2rem;
}

/* Aqui empieza la seccion de imagenes */
.principal__seccion2{
    width:  100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal__seccion2__titulo{
    height: 7%;
}
.principal__seccion2__texto{
    height: 20%;
    width: 20%;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content:space-around;
}
.principal__seccion2__imagenes{
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.principal__seccion2__imagenes__figura__imagen {
    width: 30rem;
    height: 14rem;
}
.principal__seccion2__boton__flecha__previo{
    width: 7rem;
    height: 4rem;
    border: none;
}
.principal__seccion2__boton__flecha__siguiente{
    width: 7rem;
    height: 4rem;
    border: none;
} 
.principal__seccion2__imagenes__figura__imagenflecha{
    width: 5vw;
    height: 5vw;
}
/* .principal__seccion2__imagenes__figura{
    width:5rem;
    height: 5rem;
}  */
.principal__seccion2__imagenes__figura__captura__texto{

    text-align: center;
}
.principal__seccion2__imagenes__figura__captura__enlace {
    margin-top: 5px;
    text-align: center;
}

/*aqui empieza el footer*/

.pie{
    padding: 3rem;
    background-color: rgb(218, 218, 218);
    display: flex;
    width: 50vw;
}

.pie__osc{
    color: white;
    background-color: #17202a;
}
.pie__lista__titulo,.pie_seccion__listas__titulo{
    font-weight: bold;
}
.pie_seccion__listas__titulo__osc{
    color:white;
}
.pie__lista{
    list-style: none;
    margin-right: 3rem;
}
.pie__seccion__listas{
    list-style: none;
    text-decoration: none;
    margin-right: 10rem;
}

.pie__seccion{
    display: flex;
    width: 50vw;
}
.pie__seccion__osc{
    color: white;
}

.pie__seccion__listas__elemento__osc{
    color: white;
}
/* etiquetas oscuras */
.body__osc{
    background-color: white;
}
.cabecero__oscuro{
   background-color: #212f3c; 
   color: white;
}
.cabecero__navegador__boton__amp__oscurecer{
    background-color: #17202a;
    color: white;
    border-color: white;
    box-sizing: border-box;
}
.cabecero__navegador__boton__osc__oscurecer{
    background-color: #17202a;
    color: white;
    border-color: white;
    box-sizing: border-box;
}
.principal__seccion1__osc{
    background-color: #17202a;
    color: white;
}
.principal__seccion1__boton__osc{
    background-color: white;
    color: black;
}
.principal__seccion2__osc{
    background-color: #212f3c;
    color: white;
}
.pie__osc{
    color: white;
    background-color: #17202a;
}
.pie_seccion__listas__titulo__osc{
    color:white;
}
.pie__seccion__osc{
    color: white;
}
.pie__seccion__listas__elemento__osc{
    color: white;
}
/* Ampliacion */
.principal__amp{
    width: 100%;
}
.cabecero__amp{
    width: 100%;
}
.pie__amp{
    width: 100%;
}